<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wolfsoft2.coco_ecommerce_ui_kit">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name="com.ws.design.coco_ecommerce_ui_kit.CocoApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.ws.design.coco_ecommerce_ui_kit.DrawerActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name="com.ws.design.coco_ecommerce_ui_kit.login.ForgotPasswordActivity" />
        <activity android:name="com.ws.design.coco_ecommerce_ui_kit.profile.UpdateActivity" />
        <activity android:name="com.ws.design.coco_ecommerce_ui_kit.login.LoginActivity" />
        <activity android:name="com.ws.design.coco_ecommerce_ui_kit.CocoListActivity" />
        <activity android:name="com.ws.design.coco_ecommerce_ui_kit.address.AddressListActivity" />
        <activity android:name="com.ws.design.coco_ecommerce_ui_kit.KitchenActivity" />
        <activity android:name="com.ws.design.coco_ecommerce_ui_kit.ProductGridActivity" />
        <activity android:name="com.ws.design.coco_ecommerce_ui_kit.Coco_Search_Activity" />
        <activity android:name="com.ws.design.coco_ecommerce_ui_kit.CocoSearch1" />
        <activity android:name="com.ws.design.coco_ecommerce_ui_kit.Coco_Search2" />
        <activity android:name="com.ws.design.coco_ecommerce_ui_kit.Coco_Search3" />
        <activity android:name="com.ws.design.coco_ecommerce_ui_kit.my_order.MyOrderActivity" />
        <activity android:name="com.ws.design.coco_ecommerce_ui_kit.MyAccountActivity" />
        <activity android:name="com.ws.design.coco_ecommerce_ui_kit.NavigationActivity2" />
        <activity android:name="com.ws.design.coco_ecommerce_ui_kit.Navigation1" />
        <activity android:name="com.ws.design.coco_ecommerce_ui_kit.address.AddAddressActivity" />
        <activity android:name="com.ws.design.coco_ecommerce_ui_kit.CocoAddNewAddress1Activity" />
        <activity android:name="com.ws.design.coco_ecommerce_ui_kit.my_cart.CartActivity" />
        <activity android:name="com.ws.design.coco_ecommerce_ui_kit.my_cart.CocoCart1Activity" />
        <activity android:name="com.ws.design.coco_ecommerce_ui_kit.my_wishlist.MyWishlistActivity" />
        <activity android:name="com.ws.design.coco_ecommerce_ui_kit.MobileVerificationActivity" />
        <activity android:name="com.ws.design.coco_ecommerce_ui_kit.signup.SignupActivity" />
        <activity android:name="com.ws.design.coco_ecommerce_ui_kit.Signup2Activity" />
        <activity android:name="com.ws.design.coco_ecommerce_ui_kit.ReviewActivity" />
        <activity android:name="com.ws.design.coco_ecommerce_ui_kit.CocoFilter1_Activity" />

        <!-- vaibhav start -->

        <activity android:name="com.ws.design.coco_ecommerce_ui_kit.CocoEcommerceHomeActivity" />
        <activity android:name="com.ws.design.coco_ecommerce_ui_kit.CocoProductListGrid2Activity" />
        <activity android:name="com.ws.design.coco_ecommerce_ui_kit.CocoecommerceHome2Activity" />
        <activity android:name="com.ws.design.coco_ecommerce_ui_kit.CocoProductListGrid10Activity" />
        <activity android:name="com.ws.design.coco_ecommerce_ui_kit.CocoProductListGridwithTabActivity" />
        <activity android:name="com.ws.design.coco_ecommerce_ui_kit.Cocoreviews2Activity" />
        <activity android:name="com.ws.design.coco_ecommerce_ui_kit.Cocoproductlist3Activity" />

        <!-- vrusti -->

        <activity android:name="com.ws.design.coco_ecommerce_ui_kit.Coco_product_list_grid_8" />
        <activity android:name="com.ws.design.coco_ecommerce_ui_kit.CocoProductDetails3" />
        <activity android:name="com.ws.design.coco_ecommerce_ui_kit.CocoProductDetails2" />
        <activity android:name="com.ws.design.coco_ecommerce_ui_kit.CocoProductDetails4" />

        <!-- rajvee -->

        <activity android:name="com.ws.design.coco_ecommerce_ui_kit.Cocoproductlistgrid4" />
        <activity android:name="com.ws.design.coco_ecommerce_ui_kit.Cocoproductlistgrid5" />
        <activity android:name="com.ws.design.coco_ecommerce_ui_kit.Cocoproductlistgrid6" />
        <activity android:name="com.ws.design.coco_ecommerce_ui_kit.Cocoproductlistgrid7" />
        <activity android:name="com.ws.design.coco_ecommerce_ui_kit.Cocoproductlistgrid9" />
        <activity android:name="com.ws.design.coco_ecommerce_ui_kit.Reviews" />
        <activity android:name="com.ws.design.coco_ecommerce_ui_kit.Cocoproductdetail5" />


        <activity android:name="com.ws.design.coco_ecommerce_ui_kit.Expantable">

        </activity>
    </application>

</manifest>