<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nav.richkart">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name="com.nav.richkart.CocoApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.nav.richkart.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name="com.nav.richkart.VideoActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:resizeableActivity="true"
            android:supportsPictureInPicture="true" />
        <activity android:name="com.nav.richkart.StartActivity" />
        <activity android:name="com.nav.richkart.DrawerActivity" />
        <activity android:name="com.nav.richkart.profile.ChangePasswordActivity" />
        <activity android:name="com.nav.richkart.my_order.LoginAlertOnMyOrderActivity" />
        <activity android:name="com.nav.richkart.address.LoginAlertOnAddressActivity" />
        <activity android:name="com.nav.richkart.my_cart.LoginAlertOnCartActivity" />
        <activity android:name="com.nav.richkart.my_wishlist.LoginAlertOnWishlistActivity" />
        <activity android:name="com.nav.richkart.profile.LoginAlertOnMyAccountActivity" />
        <activity android:name="com.nav.richkart.login.ForgotPasswordActivity" />
        <activity android:name="com.nav.richkart.profile.ProfileActivity" />
        <activity android:name="com.nav.richkart.login.LoginActivity" />
        <activity android:name="com.nav.richkart.address.AddressListActivity" />
        <activity
            android:name="com.nav.richkart.address.AddAddressActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name="com.nav.richkart.MobileVerificationActivity" />
        <activity android:name="com.nav.richkart.signup.SignupActivity" />
        <activity android:name="com.nav.richkart.product_rating_list.ReviewActivity" />



        <!-- Add your API key here -->
        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_test_WNGp90GFNS3CgJ" />


        <!--FCM -->
        <service
            android:name="com.nav.richkart.fcm.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!-- Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more. -->
        <!--  <meta-data
               android:name="com.google.firebase.messaging.default_notification_icon"
               android:resource="@drawable/ic_stat_ic_notification" />-->
        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <service android:name="com.nav.richkart.fcm.MyFirebaseId">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>


        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

    </application>

</manifest>